<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SimDebugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SimPanel.Properties.Settings>
      <setting name="LastVariableFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LastEventFile" serializeAs="String">
        <value />
      </setting>
      <setting name="TCPPort" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="LastFlightplanFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLuaFile" serializeAs="String">
        <value />
      </setting>
      <setting name="DisabledComports" serializeAs="String">
        <value>COM1,COM2</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
    </SimPanel.Properties.Settings>
    <SimDebugger.Properties.Settings>
      <setting name="LastDebugVariableFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDebugEventFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="PortNumber" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="LastFlightPlaneFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSerialFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLuaFilePath" serializeAs="String">
        <value />
      </setting>
    </SimDebugger.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2422" newVersion="4.0.0.2422" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.2422" newVersion="2.0.0.2422" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>